<!-- wp:template-part {"slug":"header","tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"className":"wp-site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|xxl","bottom":"var:preset|spacing|xxl"},"blockGap":"var:preset|spacing|xxl"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--xxl);padding-bottom:var(--wp--preset--spacing--xxl)">
    <!-- wp:woocommerce/store-notices {"align":""} /-->
    <!-- wp:columns {"verticalAlignment":"top","className":"flex-column flex-lg-row"} -->
    <div class="wp-block-columns are-vertically-aligned-top flex-column flex-lg-row">
        <!-- wp:column {"verticalAlignment":"top","className":"align-self-stretch col-12 col-lg-6 col-xl-5"} -->
        <div class="wp-block-column is-vertically-aligned-top align-self-stretch col-12 col-lg-6 col-xl-5">
            <!-- wp:woocommerce/product-image-gallery {"className":"position-sticky"} /-->
        </div>
        <!-- /wp:column -->
        <!-- wp:column {"verticalAlignment":"top","className":"col-12 col-lg"} -->
        <div class="wp-block-column is-vertically-aligned-top col-12 col-lg">
            <!-- wp:woocommerce/breadcrumbs {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}}} /-->
            <!-- wp:post-title {"level":1,"fontSize":"large","className":"fw-700","__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->
            <!-- wp:woocommerce/product-price {"isDescendentOfSingleProductTemplate":true} /-->
            <!-- wp:woocommerce/product-rating {"isDescendentOfSingleProductTemplate":true} /-->
            <!-- wp:post-excerpt {"__woocommerceNamespace":"woocommerce/product-query/product-summary"} /-->
            <!-- wp:woocommerce/add-to-cart-form /-->
            <!-- wp:woocommerce/product-meta -->
            <div class="wp-block-woocommerce-product-meta">
                <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
                <div class="wp-block-group">
                    <!-- wp:woocommerce/product-sku {"isDescendentOfSingleProductTemplate":true,"textColor":"cyan-bluish-gray","fontSize":"small"} /-->
                    <!-- wp:post-terms {"term":"product_cat","prefix":"Category: "} /-->
                    <!-- wp:post-terms {"term":"product_tag","prefix":"Tags: "} /-->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:woocommerce/product-meta -->
            <!-- wp:pattern {"slug":"glimfse/social-sharing"} /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- wp:woocommerce/product-details /-->
    <!-- wp:pattern {"slug":"glimfse/query-products-related"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"wp-site-footer"} /-->