/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scss/reviews.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
/* Required */
.woocommerce-Reviews {
  --wp--spacer: 15px;
}
.woocommerce-Reviews__summary-info h3 {
  font-size: 3.5rem;
}
.woocommerce-Reviews__summary-stats {
  text-align: center;
}
.woocommerce-Reviews__summary-new {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .woocommerce-Reviews__summary-new {
    text-align: left;
  }
}
.woocommerce-Reviews__summary .grid {
  align-items: center;
}
@media screen and (max-width: 575.95px) {
  .woocommerce-Reviews__filters label.input-group-text {
    min-width: 70px;
  }
}
.woocommerce-Reviews__filters label[for=filter-verified] {
  border-radius: var(--wp--input--border-radius) !important;
}
.woocommerce-Reviews__filters input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
}
.woocommerce-Reviews__filters input[type=checkbox]:checked + label {
  color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--primary);
}
.woocommerce-Reviews__filters input[type=checkbox]:checked + label .woocommerce-Reviews__icon--verified {
  filter: none;
}
.woocommerce-Reviews__filters input[type=checkbox] + label {
  color: inherit;
  font-weight: normal;
  text-transform: initial;
  white-space: nowrap;
  min-width: 40px;
}
.woocommerce-Reviews__filters input[type=checkbox] + label .woocommerce-Reviews__icon--verified {
  filter: contrast(0);
}
.woocommerce-Reviews__listing:empty {
  display: none;
}
.woocommerce-Reviews__rating {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.woocommerce-Reviews__rating--input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  font-size: 1.2rem;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .woocommerce-Reviews__rating--input {
    justify-content: flex-start;
  }
}
.woocommerce-Reviews__rating--input .woocommerce-Reviews__rating-range {
  pointer-events: all;
}
.woocommerce-Reviews__rating-range {
  display: flex;
  flex-flow: row-reverse nowrap;
  pointer-events: none;
}
.woocommerce-Reviews__rating-overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.woocommerce-Reviews__rating-overlay .woocommerce-Reviews__icon--rating {
  --wc--icon: var(--wc--icon--star-active);
}
.woocommerce-Reviews__rating-hover {
  display: none;
}
@media screen and (min-width: 992px) {
  .woocommerce-Reviews__rating-hover {
    display: block;
  }
}
.woocommerce-Reviews__rating button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  line-height: 1;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
}
.woocommerce-Reviews__rating button:is(:hover, .active) .woocommerce-Reviews__icon--rating, .woocommerce-Reviews__rating button:is(:hover, .active) ~ * .woocommerce-Reviews__icon--rating {
  --wc--icon: var(--wc--icon--star-active, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ffdc00' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'/%3E%3C/svg%3E"));
}
.woocommerce-Reviews__respond label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.woocommerce-Reviews__respond .woocommerce-Reviews__rating--input {
  justify-content: flex-start;
}
.woocommerce-Reviews__respond .woocommerce-Reviews__rating__hover {
  display: block;
}
.woocommerce-Reviews__suggestions .wp-element-button.wp-element-button {
  font-size: 0.5rem;
  padding: 0.25em 1em;
}
.woocommerce-Reviews__pagination {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .woocommerce-Reviews__pagination {
    text-align: right;
  }
}
.woocommerce-Reviews__pagination-list {
  display: inline-flex;
  line-height: 1;
  list-style: none;
  padding: 0;
}
.woocommerce-Reviews__pagination-item {
  min-width: 2em;
  text-align: center;
}
.woocommerce-Reviews__pagination-link {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25em;
}
.woocommerce-Reviews__pagination .disabled {
  pointer-events: none;
}
.woocommerce-Reviews__pagination .disabled a,
.woocommerce-Reviews__pagination .disabled span {
  color: gray;
}
.woocommerce-Reviews__item-title {
  margin-bottom: 10px;
}
.woocommerce-Reviews__item-verified {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.woocommerce-Reviews__item-verified .woocommerce-Reviews__icon {
  margin-right: 10px;
}
.woocommerce-Reviews__item-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.woocommerce-Reviews__item-actions .wp-element-button.wp-element-button {
  padding: 0;
  background: transparent;
  border-color: transparent;
  font-family: inherit;
  font-weight: 400;
  outline: none;
}
.woocommerce-Reviews__item-actions .wp-element-button.wp-element-button:is(:hover, :focus, :active) {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}
@media screen and (max-width: 575.95px) {
  .woocommerce-Reviews__item-actions .wp-element-button__label {
    display: none;
  }
}
.woocommerce-Reviews__item-actions .woocommerce-Reviews__icon {
  margin-right: 0.5em;
}
.woocommerce-Reviews__item img {
  display: block;
  border-radius: 50%;
}
.woocommerce-Reviews__icon {
  display: inline-block;
  vertical-align: -0.125em;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  background-image: var(--wc--icon);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.woocommerce-Reviews__icon--verified {
  --wc--icon: var(--wc--icon--verified, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%237dc855' d='M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z'/%3E%3C/svg%3E"));
  pointer-events: none;
}
.woocommerce-Reviews__icon--comments {
  --wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M280 272H136c-4 0-8 4-8 8v16c0 4 4 8 8 8h144c4 0 8-4 8-8v-16c0-4-4-8-8-8zm96-96H136c-4 0-8 4-8 8v16c0 4 4 8 8 8h240c4 0 8-4 8-8v-16c0-4-4-8-8-8zM256 32C115 32 0 125 0 240c0 48 20 91 53 126-15 40-46 73-46 74a24 24 0 0 0 17 40c62 0 110-26 139-46 29 9 60 14 93 14 141 0 256-93 256-208S397 32 256 32zm0 384c-28 0-56-4-83-13l-15-5-13 10c-23 16-59 35-103 39 12-15 30-40 41-69l7-19-14-15c-29-30-44-66-44-104 0-97 101-176 224-176s224 79 224 176-100 176-224 176z'/%3E%3C/svg%3E");
}
.woocommerce-Reviews__icon--comment {
  --wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M344 224h-72v-72c0-4-4-8-8-8h-16c-4 0-8 4-8 8v72h-72c-4 0-8 4-8 8v16c0 4 4 8 8 8h72v72c0 4 4 8 8 8h16c4 0 8-4 8-8v-72h72c4 0 8-4 8-8v-16c0-4-4-8-8-8zM256 32C115 32 0 125 0 240c0 48 20 91 53 126-15 40-46 73-46 74a24 24 0 0 0 17 40c62 0 110-26 139-46 29 9 60 14 93 14 141 0 256-93 256-208S397 32 256 32zm0 384c-28 0-56-4-83-13l-15-5-13 10c-23 16-59 35-103 39 12-15 30-40 41-69l7-19-14-15c-29-30-44-66-44-104 0-97 101-176 224-176s224 79 224 176-100 176-224 176z'/%3E%3C/svg%3E");
}
.woocommerce-Reviews__icon--search {
  --wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M509 482 380 353c-3-3-6-4-9-4h-10a208 208 0 1 0-12 12v10c0 3 1 6 4 9l129 129c4 4 12 4 17 0l10-10c4-5 4-13 0-17zm-301-98a176 176 0 1 1 0-352 176 176 0 0 1 0 352z'/%3E%3C/svg%3E");
}
.woocommerce-Reviews__icon--like {
  --wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M462 63c-54-47-136-39-186 13l-20 21-20-21C196 34 113 9 50 63c-63 53-66 150-10 208l193 199c6 7 15 10 23 10s16-3 22-10l194-199c56-58 53-155-10-208zm-13 185L256 448 63 248c-39-39-47-115 8-161 54-47 119-13 142 12l43 44 43-44c23-24 88-58 143-12 54 46 46 122 7 161z'/%3E%3C/svg%3E");
  filter: invert(12%) sepia(90%) saturate(6598%) hue-rotate(6deg) brightness(89%) contrast(115%);
}
.woocommerce-Reviews__icon--liked {
  --wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='m48 300 180 169a41 41 0 0 0 56 0l180-169c31-28 48-68 48-109v-6A143 143 0 0 0 268 84l-12 12-12-12A143 143 0 0 0 0 185v6c0 41 17 81 48 109z'/%3E%3C/svg%3E");
  filter: invert(12%) sepia(90%) saturate(6598%) hue-rotate(6deg) brightness(89%) contrast(115%);
}
.woocommerce-Reviews__icon--recommend {
  --wc--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z'/%3E%3C/svg%3E");
  filter: invert(36%) sepia(95%) saturate(4244%) hue-rotate(190deg) brightness(101%) contrast(101%);
}
.woocommerce-Reviews__icon--rating {
  --wc--icon: var(--wc--icon--star, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='gray' d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z'/%3E%3C/svg%3E"));
}
.woocommerce-Reviews :is(h1, h2, h3, h4, h5, h6, p, ul, ol, figure):where(:only-child, :not(:last-child)) {
  margin-top: 0;
}
.woocommerce-Reviews :is(h1, h2, h3, h4, h5, h6, p, ul, ol, figure):where(:only-child, :last-child) {
  margin-bottom: 0;
}
.woocommerce-Reviews .wp-element-button {
  padding: 0.35rem 0.75rem;
  border: 1px solid transparent;
  border-radius: var(--wp--input--border-radius);
}
.woocommerce-Reviews .has-border {
  border-bottom: 1px solid var(--wp--preset--color--accent);
}
.woocommerce-Reviews .my-spacer,
.woocommerce-Reviews .mb-spacer {
  margin-bottom: var(--wp--spacer);
}
.woocommerce-Reviews .my-spacer,
.woocommerce-Reviews .mt-spacer {
  margin-top: var(--wp--spacer);
}

/*# sourceMappingURL=reviews.css.map*/